<!-- // COMP229 - Mid-Term Test
// Laura Amangeldiyeva - 301167661
// 2022-03-01 -->
<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
